# Binaries for programs and plugins
cmd/ubuntu-report/ubuntu-report
*.so
libsysmetrics.so.*

# Generated binaries and corresponding assets
build/

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool
*.out
coverage.txt

# Packaging artefacts
debian/
obj-*
parts/
stage/
prime/
snap/.snapcraft/state
*.snap

# Ide artefacts
.vscode
.idea
