#!/usr/bin/make -f
#export DH_VERBOSE = 1

builddir = $(CURDIR)/obj-$(DEB_HOST_GNU_TYPE)
artefactsdir = $(builddir)/build

%:
	dh $@ --buildsystem=golang --with=golang

override_dh_auto_build:
	dh_auto_build
	# build markdown, man pages and shared lib
	cd $(builddir)/src/github.com/ubuntu/ubuntu-report/cmd/ubuntu-report && go test generate_test.go main.go --generate --path $(artefactsdir)
	cd $(builddir)/src/github.com/ubuntu/ubuntu-report/pkg/sysmetrics/C && go build -o $(artefactsdir)/libsysmetrics.so.1 -buildmode=c-shared -ldflags "-extldflags -Wl,-soname,libsysmetrics.so.1" libsysmetrics.go && mv $(artefactsdir)/libsysmetrics.so.h $(artefactsdir)/libsysmetrics.h
	mv $(artefactsdir)/bash-completion $(artefactsdir)/ubuntu-report
	mv $(artefactsdir)/zsh-completion $(artefactsdir)/_ubuntu-report
	rm $(builddir)/bin/C
	
override_dh_auto_install:
	mkdir -p debian/tmp/usr/lib/$(DEB_HOST_GNU_TYPE)/pkgconfig/ debian/tmp/usr/include/
	cp -a $(artefactsdir)/libsysmetrics.so.1 debian/tmp/usr/lib/$(DEB_HOST_GNU_TYPE)/
	ln -s libsysmetrics.so.1 debian/tmp/usr/lib/$(DEB_HOST_GNU_TYPE)/libsysmetrics.so
	cp -a $(artefactsdir)/libsysmetrics.h debian/tmp/usr/include/
	sed -e s/DEB_HOST_GNU_TYPE/$(DEB_HOST_GNU_TYPE)/ debian/sysmetrics.pc.in > debian/tmp/usr/lib/$(DEB_HOST_GNU_TYPE)/pkgconfig/sysmetrics.pc
	dh_auto_install

override_dh_missing:
	dh_missing --fail-missing
